// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2500// 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20// 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>


#define BASE 0
#define LAYER2 1
#define LAYER3 2

/ {
	behaviors {
		mmv {
			acceleration-exponent = <1>;// 1
			time-to-max-speed-ms = <300>;// 40
			delay-ms = <0>;// 0
		};
		msc {
			acceleration-exponent = <0>;// 0
			time-to-max-speed-ms = <40>;// 500
			delay-ms = <0>;// 10
		};
	};

	keymap {
		compatible = "zmk,keymap";

		base_layer {
			display-name = "BASE";
			bindings = <
			&kp Q   &kp W           &kp E          &kp R           &kp T             &kp Y           &kp U               &kp I             &kp O              &kp P
			&kp A   &kp S           &kp D          &kp F           &kp G             &kp H           &kp J               &kp K             &kp L              &kp SEMI
			&kp Z   &kp X           &kp C          &kp V           &kp B             &kp N           &kp M               &kp COMMA         &kp DOT            &kp FSLH
			&none   &to LAYER3      &kp LSHFT      &kp LCTRL       &to LAYER2        &none
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		layer2 {
			display-name = "LAYER2";
			bindings = <
			&kp F1  &kp F2         &kp F3         &kp F4         &kp F5            &kp F6          &kp F7              &kp F8            &kp F9             &kp F10
			&kp N1  &kp N2         &kp N3         &kp N4         &kp N5            &kp N6          &kp N7              &kp N8            &kp N9             &kp N0
			&kp F11 &kp F12        &kp MINUS      &kp EQUAL      &kp SPACE         &kp GRAVE       &kp SQT             &kp LBKT          &kp RBKT           &kp BSLH
			&none   &to BASE       &kp LSHFT      &kp LCTRL      &to LAYER3        &none
			>;
		};

		layer3 {
			display-name = "LAYER3";
			bindings = <
			/* RMK MouseAccel0/1/2 have no direct ZMK equivalent. */
			&kp ESC    &none             &none             &none             &bt BT_CLR         &bt BT_CLR          &kp PG_DN           &kp PG_UP            &kp END            &kp DEL
			&kp TAB    &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_UP      &mmv MOVE_RIGHT    &kp LEFT            &kp DOWN            &kp UP               &kp RIGHT          &kp BSPC
			&kp LALT   &kp LGUI          &mkp LCLK         &mkp MCLK         &mkp RCLK          &msc SCRL_LEFT      &msc SCRL_DOWN       &msc SCRL_UP         &msc SCRL_RIGHT    &kp ENTER
			&none      &to LAYER2        &kp LSHFT         &kp LCTRL         &to BASE           &none
			>;
		};
	};
};
